@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
*,
*::before,
*::after {/*normalizacion*/
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif; 
    color: #111111;
}

a{
    text-decoration: none;
    font-size:2em;
    color:inherit;
}

ul, ol{
    list-style-type: none;
}
header, footer{
    background-color: #30343F ;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    max-width: 1200px;
    margin:auto;
}